### Git, Editor, IDE, and OS files
# Emacs
*~
# InteliJ IDEA
.idea
*.iml
# Vim
.*.sw?
# Max OSX
.DS_Store
# Git
*.orig
# Scala Worksheet
*.sc

### Compilation results
*.class
target
lib/jade/jade.jar

### Execution results
maven-indexes
