### Git, Editor, IDE, and OS files
# Emacs
*~
# InteliJ IDEA
.idea
*.iml
# Vim
.*.sw?
# Max OSX
.DS_Store
# Git
*.orig

### Compilation results
*.class
target
jars/jade.jar

src/main/scala/org/ucombinator/jade/Experiments.sc
